doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel='shortcut icon' href='/static/images/favicon.ico' type='image/x-icon')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700')
        link(rel="stylesheet", href="/static/css/styles.css")    
    body
        header
        div.container
            block content
